<div class="border"></div>
<div class="below-link">
    <span class="news-link details">
        <a class="sublinks" href="comments">Guidelines</a>
        | <a class="sublinks" href="comments">FAQ</a>
        | <a class="sublinks" href="comments">Support</a>
        | <a class="sublinks" href="comments">API</a>
        | <a class="sublinks" href="comments">Security</a>
        | <a class="sublinks" href="comments">Lists</a>
        | <a class="sublinks" href="comments">Bookmarklet</a>
        | <a class="sublinks" href="comments">Legal</a>
        | <a class="sublinks" href="comments">Apply to YC</a>
        | <a class="sublinks" href="comments">Contact</a>
    </span>

</div>
<div class="below-link">
    Search: <input type="text">
</div>