.main-container {
    background-color: #f6f6ef;
    // height: 70vh;
    width: 85%;
  
  }
  
  .home-container {
    display: flex;
    justify-content: center;
  }
  
  .single_news {
    padding: 8px;
    color: #828282;
    font-size: 14px;
  }
  
  .news-link {
    color: #828282;
    font-size: 12px;
  }
  
  .title {
    display: flex;
    align-items: center
  }
  
  .details {
    margin-left: 2%;
    font-size: 11px;
  
  }
  
  .sublinks {
    color: #828282;
    font-size: 11px;
    text-decoration: none;
  }
  
  .comment-field {
    background-color: white;
    width: 40%;
    border-radius: 3px;
    margin: 2%;
  }
  
  .add-btn {
    margin-left: 2%;
    margin-bottom: 5%;
  }
  
  .border {
    border: 1px solid #ff6600;
  }
  
  .below-link {
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  
  .comment-text {
    margin-left: 2%;
    font-size: 13px;
    color: black;
  
  }
  