<div class="toolbar">
    <div class="main-div" fxLayoutGap="5px">
        <a href="https://news.ycombinator.com">
            <img src="https://news.ycombinator.com/y18.gif" width="20" height="20" style="border:1px white solid;"></a>

        <span class="points">
            <strong class="hacker"><a href="home">Hacker News</a></strong>

            <span class="redirectlink">
                <a href="home">new</a></span> |
            <a href="home">past</a> |
            <a href="home">comments</a> |
            <a href="home">ask</a> |
            <a href="home">show</a> |
            <a href="home">jobs</a> |
            <a href="home">submit</a> 
        </span>
    </div>

</div>