<!-- <center> -->
<div class="home-container">
    <div class="main-container">
        <mat-toolbar color="primary">
            <span>Store Front – Sales Personnel Login {{userName}}</span>
            <span class="example-spacer"></span>
            <button mat-button class="admin-btn" *ngIf="isAdmin == 'true'" (click)="redirectTo('admin')">Admin</button>
        </mat-toolbar>
        <div class="main-div">
            <div class="center-align">
               <div fxFlex="95">
                <h4>Today's Date: {{currentDate | date: 'MMMM d, y'}}</h4>
               </div>
                <button mat-button class="add-btn" (click)="redirectTo('orders')">Orders</button>
            </div>

            <div *ngFor="let item of jsonArray; let i=index" fxLayout="row">
                <mat-card class="card">
                    <div fxLayout="row">
                        <div class="rightborder index" fxFlex="40px">
                            {{i+1}}
                        </div>
                        <div class="rightborder" fxFlex="30">
                            <div>
                                <p>Title: {{item.title}}</p>
                                <p>Color: {{item.color}}</p>
                            </div>
                        </div>
                        <div class="rightborder" fxFlex="30">
                            <div>
                                <p>Barcode Number: {{item.barcode}}</p>
                                <p>Quantity: {{item.qty}}</p>
                                <p>Price: {{item.price}}</p>
                            </div>
                        </div>
                        <div fxFlex="30">
                            <div>
                                <p>Description: {{item.desc}}</p>
                                <p>Reason Unavailable: {{item.reason}}</p>
                            </div>
                        </div>
                    </div>
                </mat-card>
                <div class="center">
                    <button mat-button class="add-btn" *ngIf="item.reason == 'NA' || item.reason == '' ||  item.reason == 'na'" (click)="addOrder(item)">Add</button>
                    <button mat-mini-fab color="warn" *ngIf="item.reason != 'NA' && item.reason != '' && item.reason != 'na'">
                        <mat-icon>block</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>