<h1 mat-dialog-title>{{'View Order'}}</h1>
<div mat-dialog-content>
    <form [formGroup]="masterFormGroup" class="container-fluid" novalidate>
        <div>
            <mat-form-field style="width: 100%">
                <input type="text" matInput placeholder="Title" formControlName="title">
                <mat-error *ngIf="this.masterFormGroup.get('title').invalid">
                    Please
                    Enter Valid Title </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <input type="text" matInput placeholder="Color" formControlName="color">
                <mat-error *ngIf="this.masterFormGroup.get('color').invalid">
                    Please
                    Enter Valid Color </mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field style="width: 100%">
                <input type="text" matInput placeholder="Barcode Number" formControlName="barcode">
                <mat-error *ngIf="this.masterFormGroup.get('barcode').invalid">
                    Please
                    Enter Valid Barcode Number </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row">
            <div style="width: 50%">
                <mat-form-field style="width: 100%">
                    <input type="text" pattern="^[1-9][0-9]*$" matInput placeholder="Quantity" formControlName="qty">
                    <mat-error *ngIf="this.masterFormGroup.get('qty').invalid">
                        Please
                        Enter Valid Quantity </mat-error>
                </mat-form-field>
            </div>
            <div style="margin-left: 3%;width: 50%;">
                <mat-form-field style="width: 100%">
                    <input matInput placeholder="Price" pattern="^[1-9][0-9]*$" formControlName="price"
                        autocomplete="off" required>
                    <span matPrefix>&nbsp;$</span>
                    <mat-error
                        *ngIf="this.masterFormGroup.get('price').value == 0 || this.masterFormGroup.get('price').invalid">
                        Please Enter Valid Price</mat-error>
                </mat-form-field>
            </div>
        </div>


    </form>

</div>
<div mat-dialog-actions class="right">
    <button mat-raised-button type="button" (click)="closeForm(true)">
        <mat-icon>clear</mat-icon>
        <span>Cancel</span>
    </button>
</div>