<h1 mat-dialog-title>{{'View Order'}}</h1>
<div mat-dialog-content>
    <h4>Date: {{data.date | date: 'MMMM d, y, h:mm:ss a'}}</h4>
    <div *ngFor="let item of data.value.order; let i = index">
       <div fxLayout="row">
        <h5 fxFlex="50">{{i+1}})&nbsp;Title: &nbsp; {{item.title}}</h5>
        <h5>Price: &nbsp; {{item.price}}</h5>
       </div>
      <div fxLayout="row">
        <h5 fxFlex="50">Quantity: &nbsp; {{item.qty}}</h5>
        <h5>Barcode: &nbsp; {{item.barcode}}</h5>
      </div>

    </div>
</div>
<div mat-dialog-actions class="right">
    <button mat-raised-button type="button" (click)="closeForm(true)">
        <mat-icon>clear</mat-icon>
        <span>Cancel</span>
    </button>
</div>